<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaipeiDayTrip</title>
    <link rel="stylesheet" href="/static/css/attraction.css">
</head>
<body>
    <div class="grayBackGround"></div>
    <!-- navigation -->
    <div class="navigation">
        <div class="navigationBox">
            <div class="frame2" onclick="backToHome()">
                <div class="navigationText">台北一日遊</div>
            </div>
            <div class="frame1">
                <botton class="BtnLeft navigationBtn">預定行程</botton>
                <botton class="BtnRight navigationBtn">登入/註冊</botton>
            </div>
        </div>
    </div>
    <!-- dialog -->
    <div class="loginContainer">
        <div class="loginBox">
            <div class="decoraterBar"></div>
            <img src="/static/images/closeBtn.png" class="closeBtn" onclick="closeLoginBox()">
            <div class="loginText">登入會員帳號</div>
            <input type="text" placeholder="輸入電子信箱" class="loginEmail">
            <input type="password" placeholder="輸入密碼" class="loginPassword">
            <div class="loginBtn" onclick="login()">登入帳戶</div>
            <div class="loginAlarm" onclick="goSignUp()">還沒有帳戶？請點此註冊</div>
        </div>
    </div>
    <div class="signUpContainer">
        <div class="signUpBox">
            <div class="decoraterBar"></div>
            <img src="/static/images/closeBtn.png" class="closeBtn" onclick="closeSignUpBox()">
            <div class="signUpText">註冊會員帳號</div>
            <input type="text" name="name" placeholder="輸入姓名" class="signUpName">
            <input type="text" name="email" placeholder="輸入電子信箱" class="signUpEmail">
            <input type="password" name="password" placeholder="輸入密碼" class="signUpPassword">
            <div class="signUpBtn" onclick="signUp()">註冊新帳戶</div>
            <div class="signUpAlarm" onclick="goLogin()">已經有帳戶了？點此登入</div> 
        </div>
    </div>
    <!-- section -->
    <div class="mainContainer">
        <div class="sectionContainer">
            <div class="section">
                <div class="picture_current">
                    <img class="picture"></img>
                    <img class="left_arrow" onclick="previousPicture();" src="/static/images/left_arrow.png">
                    <img class="right_arrow" onclick="nextPicture()" src="/static/images/right_arrow.png">
                    <div class="circleGroup"></div>
                </div>
                <div class="profile">
                    <div class="profileH2"></div>
                    <div class="profileP"></div>
                    <div class="booking_form">
                        <h2 class="bookingH2">訂購導覽行程</h2>
                        <p class="bookingP">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                        <div class="date_field">選擇日期：
                            <input type="date" class="date">
                        </div>
                        <div class="time_field">選擇時間：
                            <input class="magic-radio check_am" type="radio" name="radio" id="r1" value="option1" onclick="check_am()">
                            <label for="r1" class="radio1">上半天</label>                                                      
                            <input class="magic-radio check_pm" type="radio" name="radio" id="r2" value="option2" onclick="check_pm()">
                            <label for="r2" class="radio2">下半天</label>
                          </div>
                        <div class="price_field">導覽費用：<div class="price_fieldText"></div></div>
                        <div class="booking_btn"><button class="reserveBtn">開始預約行程</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separatorContainer"><hr class="separator"></div>
        <!-- infors -->
        <div class="inforsContainer">
            <div class="infors">
                <div class="infors_text"></div>
                <div class="addressTop">景點地址：</div>
                <div class="addressText"></div>
                <div class="trafficTop">交通方式：</div>
                <div class="trafficText"></div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer>COPYRIGHT © 2021 台北一日遊</footer>
    <script src="/static/js/attraction.js"></script>
</body>
</html>